<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">
    
    <bean id="userBarAction" class="edu.nju.healthClub.actions.UserBarAction">
    	<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>   
	
	<bean id="recommandAction" class="edu.nju.healthClub.actions.RecommandAction">
		<property name="activityService">
			<ref bean="activityService" />
		</property>
	</bean>
	
	<bean id="reserveAction" class="edu.nju.healthClub.actions.ReserveAction">
		<property name="userPrePageChangeService">
			<ref bean="userPrePageChangeService" />
		</property>
		<property name="adminPrePageChangeService">
			<ref bean="adminPrePageChangeService" />
		</property>
		<property name="reserveService">
			<ref bean="reserveService" />
		</property>
	</bean>
	
	<bean id="activityAction" class="edu.nju.healthClub.actions.ActivityAction">
		<property name="service">
			<ref bean="activityService" />
		</property>
	</bean>
	
	<bean id="registerAction" class="edu.nju.healthClub.actions.RegisterAction">
		<property name="userPrePageChangeService">
			<ref bean="userPrePageChangeService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="bankService">
			<ref bean="bankService" />
		</property>
	</bean>
	
	<bean id="loginAction" class="edu.nju.healthClub.actions.LoginAction">
		<property name="userPrePageChangeService">
			<ref bean="userPrePageChangeService" />
		</property>
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>

	<bean id="adminLoginAction" class="edu.nju.healthClub.actions.AdminLoginAction">
		<property name="service">
			<ref bean="adminVerificationService" />
		</property>
	</bean>
	
	<bean id="createActivityAction" class="edu.nju.healthClub.actions.CreateActivityAction">
		<property name="service">
			<ref bean="activityService" />
		</property>
		<property name="dateChangeService">
			<ref bean="dateChangeService" />
		</property>
		<property name="fileUploadPathService">
			<ref bean="fileUploadPathService" />
		</property>
	</bean>

	<bean id="adminVerificationService" class="edu.nju.healthClub.services.AdminVerificationService">
	</bean>
	
	<bean id="activityService" class="edu.nju.healthClub.services.ActivityService">
		<property name="activityDAO">
			<ref bean="activityDAO" />
		</property>

		<property name="dateChangeService">
			<ref bean="dateChangeService" />
		</property>
	</bean>
	
	<bean id="userService" class="edu.nju.healthClub.services.UserService">
		<property name="userDAO">
			<ref bean="userDAO" />
		</property>
	</bean>
	
	<bean id="bankService" class="edu.nju.healthClub.services.BankService">
		<property name="bankDAO">
			<ref bean="bankDAO" />
		</property>
	</bean>
	
	<bean id="reserveService" class="edu.nju.healthClub.services.ReserveService">
		<property name="userService">
			<ref bean="userService" />
		</property>
		<property name="activityService">
			<ref bean="activityService" />
		</property>
		<property name="reserveDAO">
			<ref bean="reserveDAO" />
		</property>
	</bean>

	<bean id="dateChangeService" class="edu.nju.healthClub.services.DateChangeService">
	</bean>
	
	<bean id="fileUploadPathService" class="edu.nju.healthClub.services.FileUploadPathService">
	</bean>
	
	<bean id="userPrePageChangeService" class="edu.nju.healthClub.services.UserPrePageChangeService">
	</bean>
	
	<bean id="adminPrePageChangeService" class="edu.nju.healthClub.services.AdminPrePageChangeService">
	</bean>

	<bean id="activityDAO" class="edu.nju.healthClub.dao.ActivityDAO">
	</bean>
	
	<bean id="userDAO" class="edu.nju.healthClub.dao.UserDAO">
	</bean>
	
	<bean id="bankDAO" class="edu.nju.healthClub.dao.BankDAO">
	</bean>
	
	<bean id="reserveDAO" class="edu.nju.healthClub.dao.ReserveDAO">
	</bean>
</beans>