*{
	margin:0;
	padding:0;
}

a {
        text-decoration: none;
}

#logo{
		font-size:56px;
		color:#014d67;
        display: block;
        position: relative;
        top: 0px;
        left: 0px;
        width:350px;
}

.navigation{
	color:#014d67;
	text-decoration:underline;
	font-size:20px;
	margin:10px;
}

body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:url(../images/bg.jpg) repeat top left;
	color:#014d67;
	overflow-y:scroll;
}
