*{
	margin:0;
	padding:0;
}
body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:url(../images/bg.jpg) repeat top left;
	color:#014d67;
	text-shadow:1px 1px 1px #edde8b;
	overflow-y:scroll;
}
a {
        text-decoration: none;
}

img{
	float:left;
	width:100px;
	height:100px;
}

ul {
list-style: none;
}

li {
display: inline-block;
font-size: 12px;
line-height: 22px;
padding: 2px 0;
position: relative;
width: 100%;
}

p{ word-wrap:break-word; word-break:normal; }

h4 a{
	color:#014d67;
}

.main-right {
	width:900px;
	float:left;
	font-size:17px;
	margin: 50px;
}

.main-left {
	width:280px;
	float:left;
}

.info{
	float:left;
	margin-left:20px;
	margin-top:-5px;
	width:700px;
}

label.t {
color: #878787;
float: left;
width: 80px;
font-size:17px;
}

.ri-t {
color: #222222;
float: left;
font-size:17px;
}

.right_button{
	float:right;
	background: #014d67;
	border: 1px solid #ccc;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 8px 0 9px;
	text-align: center;
	width: 150px;
	cursor:pointer;
	margin:15px 20px 10px 10px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0px 0px 2px #fff inset;
	-webkit-box-shadow: 0px 0px 2px #fff inset;
	box-shadow: 0px 0px 2px #fff inset;
}

.right_button:hover {
	background: #608f96;
	-moz-box-shadow: 0px 0px 2px #eaeaea inset;
	-webkit-box-shadow: 0px 0px 2px #eaeaea inset;
	box-shadow: 0px 0px 2px #eaeaea inset;
	color: #000;
}

.button-div {
	width:100%;
	height:70px;
	clear:both;
}

.margin-top{
	margin-top:40px;
}

.reserve-input{
	border: solid 1px #E5E5E5;
	font-size:14px;
	width:200px;
	height:18px;
	float:right;
	padding: 8px 0 9px;
	margin:15px 20px 10px 10px;
}

.hide{
	display:none;
}