*{
	margin:0;
	padding:0;
}
body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:url(../images/bg.jpg) repeat top left;
	color:#014d67;
	text-shadow:1px 1px 1px #edde8b;
	overflow-y:scroll;
}

